html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #38404B;
  font-weight: 600;
}




.inputTask{
 border-radius: 15px 0px 0px 15px;
 border: none;
 outline: none;
 padding: 8px;
 background-color: #454e5b;
 color: white;
 width: 30%;
}


.inputAdd{
  background-color: white;
  padding: 8px;
  border-radius: 0px 10px 10px 0px;
  width: 8%;
}

.inputAdd:hover{
  background-color: #707d90;
  transition: all 0.2s;
  color: white;
}

.titleTasksCompleted{
  font-size: 22px;
  color: white;
  margin-top: 3rem;
}




.columnCount{
  padding: 10px;
  column-count: 2;
}

.cardContainer{
  margin-top: 3rem;
  background-color: #454e5b ;
  padding: 10px;
  color: white;
  border-radius: 15px;
  width: 80%;
}

.button-container {
  display: flex;
  margin-left: auto; 
gap: 8px;
}

.custom-button{
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 10px;
}

.custom-button:hover{
  background-color: #707d90;
  color: white;
  transition: all 0.2s;
}

.delete-button{
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 10px;
}

.delete-button:hover{
  background-color: rgb(173, 1, 1);
  transition: all 0.2s;
}


.task-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 30px;
}

.column-container {
  display: flex;
  flex-direction: column;
}

.column {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 5px;
}

/*Media querys para  le responsive Gg */

@media (max-width: 768px) {
  .column {
    grid-template-columns: 1fr; 
  }
  .cardContainer{
    width: 100%;
  }
  .inputTask{
    width: 80%;
  }
  .inputAdd{
    width: 18%;
    font-size: 15px;
  }

  .task-list{
    padding: 10px;
  }
}


.circle {
  width: 20px; 
  height: 20px; 
  border: 2px solid #ffffff; 
  border-radius: 50%; 
  margin-right: 10px; 
}

.circle.completed {
  background: #00FF00; 
}

.completed-task {
  text-decoration: line-through;
}